
 
  /* product section   */
  .product-section {
    padding: 2rem 0;
    /* width: 80vw; */
    max-width: 90%;
    margin: auto;
  }
  .name {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 20px 0;
    color: #456424;
  }
  .row-4 .write img {
    width: 100%;
    border: solid #698f3f 5px;
    border-radius: 10px;
  }
  .write {
    /* border: solid; */
    text-align: center;
    margin: 20px 2px;
    transition: var(--maintransittion);
  }
  .write h2,
  p {
    color: black;
  }
  .write:hover {
    transform: translateY(-6px);
  }
  @media screen and (min-width: 805px) {
    .write {
      float: left;
      width: 49%;
      padding: 10px;
    }
  }
  @media screen and (min-width: 1220px) {
    .write {
      width: 24.5%;
    }
  }
  
  /* this is for seceond bannar  */
  
 
  
  /* navbar  */
  
  
  /* account form css  */
  
  .account {
    min-height: 100vh;
    
    position: relative;
  }
  
  .login form {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    box-shadow: 20px 20px 50px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  @media screen and (max-width: 755px) {
    .login form {
      width: 95%;
    }
  }
  .login form input {
    background: #ffefd5;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 5px 0px;
    margin: 3px 0px;
  }
  .login textarea {
    background: #ffefd5;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 5px 0px;
    margin: 3px 0px;
  }
  .login textarea[type="text"] {
    text-align: center;
  }
  .login button {
    width: 100%;
    background: #ffefd5;
    margin: 10px 0px;
    font-family: "Ubuntu", sans-serif;
    font-size: bold;
  }
  
  .login a {
    width: 100%;
    color: white;
    font-size: bold;
  }
  
  .login h2 {
    font-family: "Ubuntu", sans-serif;
    font-size: bold;
    color: #fff;
  }
  
  .login input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"] {
    text-align: center;
  }
  
  .login input::-webkit-outer-spin-button,
  .login input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  .login input[type="number"] {
    -moz-appearance: textfield;
  }
  
  /* this is for admin panel */
  
  .admin {
    margin: 0px;
    border: 0px;
    padding: 100px 0;
    min-height: 75vh;
    background: radial-gradient(#c6d9ec, #527a7a);
  }
  
  .admin h2 {
    text-align: center;
    font-size: 3rem;
  }
  
  .block {
    text-align: start;
    position: absolute;
    top: 45%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    /* box-shadow: 20px 20px 50px; */
    /* background-color: rgba(0, 0, 0, 0.3); */
  }
  .block form td {
    padding: 5px 0;
  }
  
  @media screen and (max-width: 1200px) {
    .admin {
      width: 100%;
    }
    .admin h2 {
      font-size: 1.5rem;
    }
  }
  /* this is for product page  */
  /* this is for product section  */
  
  .nxt ul li {
    width: 5%;
    float: left;
    padding: 30px;
  }
  .nxt ul li a {
    color: #ffffff;
    border: seagreen solid;
    padding: 10px;
    background-color: black;
  }
  .row-sub {
    display: block;
    padding: 2rem 0 0 2rem;
    max-width: 100%;
    margin: auto;
    float: left;
  }
  .write-2 img {
    width: 420px;
    height: 310px;
    border: seagreen solid 5px;
    border-radius: 10px;
  }
  .write-2 {
    /* border: solid; */
    text-align: center;
    transition: var(--maintransittion);
    width: 100%;
  }
  .write-2 h2,
  p {
    color: black;
  }
  .write-2:hover {
    transform: translateY(-6px);
  }
  @media screen and (min-width: 850px) {
    .row-sub {
      width: 50%;
    }
    .write-2 {
      width: 100%;
    }
  }
  @media screen and (min-width: 1700px) {
    .row-sub {
      width: 25%;
    }
    .write-2 {
      width: 100%;
    }
  }
  
